<div class="container">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <h1>General Provisions</h1>
    </div>
    <div class="row">
        <h4>{{title}}</h4>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <p class="card-text" [attr.contentEditable]="isEdit"
                    #content>
                        <router-outlet></router-outlet>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <app-gp-right-menu></app-gp-right-menu>
        </div>
    </div>

    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-sm-6">
            &nbsp;
        </div>
        <div class="col-sm-4" *ngIf="isAccept">
            <span class="green"><b>Action approved</b></span>
        </div>
        <div class="col-sm-4" *ngIf="isEdit">
            <button class="btn btn-secondary" type="button" (click)="cancelBtn()">
                <span class="button-padding-text">Discard Changes</span>
            </button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-secondary" type="button" (click)="saveBtn()">
                <span class="button-padding-text">Save</span>
            </button>
        </div>
        <div class="col-sm-4" *ngIf="isDelete">
            <span><b>Delete this clause?</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-secondary" type="button">
                <span class="button-padding-text">No</span>
            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-secondary" type="button">
                <span class="button-padding-text">Delete</span>
            </button>
        </div>
        <div class="col-sm-4" *ngIf="!isAccept && !isEdit && !isDelete">
            <button class="btn btn-secondary" type="button" (click)="editBtn(content.textContent)">
                <span class="button-padding-text">Edit</span>
            </button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-secondary" type="button" (click)="deleteBtn()">
                <span class="button-padding-text">Delete</span>
            </button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-secondary" type="button" (click)="acceptBtn()">
                <span class="button-padding-text">Accept</span>
            </button>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-sm-6">
            &nbsp;
        </div>
        <div class="col-sm-4">
            <button class="btn btn-secondary" type="button" (click)="cancelBtn()">
                <span class="button-padding-text">Cancel</span>
            </button>&nbsp;&nbsp;
            <button class="btn btn-primary" type="button">
                <span class="button-padding-text">Save & Continue</span>
            </button>
        </div>
    </div>

</div>