<div class="row">
    <div class="col-sm-12 gp-side-nav">
        <a [routerLink]="['/general-provisions']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Intensive Outpatient</a>

        <a [routerLink]="['/general-provisions/observation']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Observation/Treatment Room</a>

        <a [routerLink]="['/general-provisions/partial-hospitalization']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Partial Hospitalization<br/>(Day Hospital Treatment)</a>

        <a [routerLink]="['/general-provisions/aetna-enhaced-groupers']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Aetna Enhanced Groupers(AEG)</a>
    </div>
</div>
