<div class="p-grid container">
    <div class="p-col-12">
        <h1>Compensation</h1>
    </div>
    <div class="p-col-9">
        <div class="box">
            <p>Payer shall reimburse provider for Covered Services provided to Members enrolled in Benefit Programs to
                which this arrangement applies as follows:</p>
            <p-table class="table" [value]="data">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Services</th>
                        <th>Billing Codes</th>
                        <th>Rates</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>{{data.serviceName}}</td>
                        <td>{{data.codes}}</td>
                        <td>{{data.charges}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="p-col-3" *ngIf="!isSuccess">
        <div class="p-grid">
            <div class="p-col-12">
                <button pButton type="button" label="Need Changes"
                    class="ui-button-rounded ui-button-grey ui-button-width" (click)="needChange()"></button>
            </div>
            <div class="p-col-12"></div>
            <div class="p-col-1 info-box yellow-color margin-1">
                <i class="pi pi-info-circle"></i>
            </div>
            <div class="p-col-6 info-box light-yellow-color">
                <span class="txt-spacing">1 Update done</span>
            </div>
            <div class="p-col-12"></div>
            <div class="p-col-12">
                <div class="info-box" style="width:65%;padding: 5px;">
                    <span class="txt-spacing">5% of providers in your area have requested for a similar
                        change.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-3" *ngIf="isSuccess">
        <b>Section#4</b>
        <p>
            68% is not an acceptable rate.
        </p>
        <p>
            Consider 86% of Billed Charges.
        </p>

        <div class="p-col-12"></div>
        <button pButton type="button" label="Accept" class="ui-button-rounded ui-button-width"
            (click)="accept()"></button>
        <div class="p-col-12"></div>
        <button pButton type="button" label="Initiate Discussion" class="ui-button-rounded ui-button-width"
            (click)="initiateDiscussion()"></button>
    </div>
    <div class="p-col-12">
        <p-checkbox [(ngModel)]="value" [binary]="true" label="I here by accepts all the terms and conditions.">
        </p-checkbox>
    </div>
    <div class="p-col-5">&nbsp;</div>
    <div class="p-col-4">
        <button pButton type="button" label="Cancel" class="ui-button-rounded ui-button-secondary ui-button-width"
            (click)="reset()"></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button pButton type="button" label="Save & Continue" class="ui-button-rounded ui-button-width"
            [disabled]="!value" (click)="next()"></button>
    </div>
</div>